services:
  clickhouse:
    image: clickhouse/clickhouse-server:22.8
    ports:
      - "9000:9000"
      - "8123:8123"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:8123 || exit 1"]
      interval: 3s
      timeout: 2s
      retries: 10

  otel-collector:
    image: signoz/signoz-otel-collector:latest
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
    depends_on:
      clickhouse:
        condition: service_healthy

  signoz:
    image: signoz/query-service:latest
    ports:
      - "8080:8080"
    environment:
      - CLICKHOUSE_HOST=clickhouse
      - SIGNOZ_TOKENIZER_JWT_SECRET=aae7fe948329dd13bf81227dbf3e88f0a732ee91bac30311294fef0d991c0d39
    depends_on:
      clickhouse:
        condition: service_healthy
