receivers:
  otlp:
    protocols:
      http:
      grpc:

exporters:
  clickhouse:
    endpoint: tcp://clickhouse:9000

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [clickhouse]
