receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  clickhousetraces:
    endpoint: tcp://clickhouse:9000

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [clickhousetraces]
